.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}
.row-red {
    background-color: red;
}

#tabla {
    font-size: 16px;
}

@media (max-width: 600px) {
    .hide-sm {
      display: none;
    }
    
    /* Modificar el tamaño de la fuente para dispositivos móviles */
    #tabla {
      font-size: 12px;
    }
  }
  
  /* Para tabletas */
  @media (min-width: 601px) and (max-width: 1024px) {
    /* Modificar el tamaño de la fuente para tabletas */
    #tabla {
      font-size: 14px;
    }
  }
#formulario-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #4eb8fa;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 1s ease-in-out;
    z-index: 9999;
}

#formulario{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: left;

    padding: 20px;
}

.botones {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-bottom: 20px;
}

.botones button {
    background-color: #4eb8fa;
    color: #ffffff;
    padding: 5px;
    border-radius: 25px;
    border-color: #4eb8fa;
}
.botones button :hover {
    background-color: #0F71CC;
}
#btn-agregar{
    display: none;
}
#btn-editar{
    display: none;
}